In [1]:
# Import libraries
# Use this cell to set up import statements for all of the packages that you plan to use.
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
# Reading excel with pd.read_excel
# passing `sheet_name=None` returns a dictionary with the form {sheet_name: dataframe}
data = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name=None, skiprows=[0]) #skiprows to skip the 1st comment row

# loop through the dictionary and save csv
for sheet_name, df in data.items():
    df.to_csv(f'{sheet_name}.csv',index=False) # To avoid savin Index Column

In [34]:
# Open file KPMG_VI_New_raw_data_update_final.xlsx and save sheets as csv files skipping first row coz it contains a comment
transactions = pd.read_csv('transactions.csv')
transactions.head(5)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [35]:
transactions.tail(5)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [36]:
transactions.shape

(20000, 13)

In [37]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 2.0+ MB

#### All IDs should be strings not integers

#### 197 Missing values in brand,product_line, product_class, product_size, standard_cost, and product_first_sold_date.

#### 360 Missing values in online_order.

In [38]:
# Wondering what other values than 0 & 1 it the online_order column has. This probably represents true and false.
transactions.online_order.value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [43]:
# Changing float data type in online_order into booleans

transactions.online_order = transactions.online_order.astype('bool')
# When notnull was used, values were convered to objects not boolean, and all were converted to true.

In [44]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  object
 4   online_order             20000 non-null  bool
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: bool(1), float64(3), int64(3), object(6)
memory usage: 1.9+ MB

In [45]:
transactions.sample(15)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
5034,5035,0,1839,2017-07-25,False,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,36668.0
622,623,94,2156,2017-03-01,False,Approved,Giant Bicycles,Standard,medium,large,1635.30,993.66,34556.0
2861,2862,5,1336,2017-09-23,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,33549.0
3295,3296,62,1567,2017-03-14,True,Approved,Solex,Standard,medium,medium,478.16,298.72,34143.0
6022,6023,97,3020,2017-04-28,False,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,35378.0
7439,7440,23,77,2017-09-20,False,Approved,Norco Bicycles,Mountain,low,small,688.63,612.88,34244.0
4108,4109,43,47,2017-07-15,True,Approved,Solex,Standard,medium,medium,1151.96,649.49,36498.0
11068,11069,20,3270,2017-05-08,False,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,34165.0
12037,12038,36,1015,2017-04-11,False,Approved,Solex,Standard,low,medium,945.04,507.58,35052.0
2409,2410,84,1650,2017-04-07,True,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,33879.0
18098,18099,45,2877,2017-07-12,False,Approved,Solex,Standard,medium,medium,441.49,84.99,41009.0
1426,1427,82,1642,2017-10-07,False,Approved,Norco Bicycles,Standard,high,medium,1148.64,689.18,36145.0
1092,1093,71,1033,2017-01-28,False,Approved,Solex,Standard,high,large,1842.92,1105.75,37873.0
9897,9898,32,3136,2017-08-18,True,Approved,Giant Bicycles,Standard,medium,medium,642.70,211.37,36498.0
3462,3463,86,629,2017-01-06,False,Approved,Norco Bicycles,Road,high,large,774.53,464.72,37698.0

In [46]:
for column in transactions.columns:
     print("\n" + column)
     print(transactions[column].value_counts())

transaction_id
2047     1
10912    1
12947    1
2708     1
661      1
        ..
7481     1
1338     1
3387     1
13628    1
2049     1
Name: transaction_id, Length: 20000, dtype: int64

product_id
0      1378
3       354
1       311
35      268
38      267
       ...
71      137
8       136
16      136
100     130
47      121
Name: product_id, Length: 101, dtype: int64

customer_id
2183    14
1068    14
2476    14
2072    13
1672    13
        ..
2395     1
1569     1
1203     1
2271     1
1544     1
Name: customer_id, Length: 3494, dtype: int64

transaction_date
2017-08-18    82
2017-02-14    82
2017-10-15    76
2017-01-31    73
2017-12-19    71
              ..
2017-01-12    38
2017-12-07    37
2017-03-29    36
2017-09-25    35
2017-10-19    32
Name: transaction_date, Length: 364, dtype: int64

online_order
True     10189
False     9811
Name: online_order, dtype: int64

order_status
Approved     19821
Cancelled      179
Name: order_status, dtype: int64

brand
Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

product_line
Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

product_class
medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

product_size
medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

list_price
2091.47    465
1403.50    396
71.49      274
1231.15    235
1890.39    233
          ...
489.58       1
1348.41      1
883.91       1
1220.66      1
1142.89      1
Name: list_price, Length: 296, dtype: int64

standard_cost
388.920000    465
954.820000    396
53.620000     274
161.600000    235
260.140000    233
             ...
151.960000    124
206.350000    114
270.299988      1
667.400024      1
312.735016      1
Name: standard_cost, Length: 103, dtype: int64

product_first_sold_date
33879.0    234
41064.0    229
37823.0    227
39880.0    222
38216.0    220
          ...
41848.0    169
42404.0    168
41922.0    166
37659.0    163
34586.0    162
Name: product_first_sold_date, Length: 100, dtype: int64

#### Weird!! Null values in online_order changed to True when data type was converted into Boolean!!

In [47]:
# Wondering what is the total sum customer 2183 paid
transactions[transactions.customer_id == 2183].sum()

transaction_id                                                        128141
product_id                                                               601
customer_id                                                            30562
transaction_date           2017-05-092017-12-202017-06-112017-09-172017-1...
online_order                                                               4
order_status               ApprovedApprovedApprovedApprovedApprovedApprov...
brand                      Giant BicyclesTrek BicyclesGiant BicyclesSolex...
product_line               StandardStandardStandardRoadTouringRoadStandar...
product_class              mediummediummediummediumlowmediumhighmediumhig...
product_size               largesmalllargemediummediumsmallmediummediumme...
list_price                                                           19071.3
standard_cost                                                          12558
product_first_sold_date                                               519283
dtype: object